@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap");
//
body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: repeat;
  @media only screen and (max-width: $tablet-medium) {
    background-image: none;
    background-color: $background-1;
  }
}
.container {
  max-width: 120rem;
  height: 98vh;
  display: flex;
  flex-direction: column;
  margin: 1vh auto;
  box-shadow: 0 2rem 6rem 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  @media only screen and (max-width: $tablet) {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  @media only screen and (max-width: $tablet-medium) {
    box-shadow: none;
  }
  @media only screen and (max-width: $mobile) {
    height: auto;
  }
}
.content {
  position: relative;
  flex: 1 1 auto;
  background-color: #fff;
  display: flex;
  max-height: calc(98vh - 16.3rem);
  @media only screen and (max-width: $tablet) {
    max-height: calc(100vh - 16.3rem);
  }
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    max-height: none;
  }
  @media only screen and (max-width: $mobileSmall) {
    max-height: none;
  }
}
