.header {
  flex: 0 0 10.3rem;
  background-color: $background-1;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 2rem;
  @media only screen and (max-width: $tablet) {
    border-radius: 0 0 0 0;
  }
  @media only screen and (max-width: $mobile) {
    flex-wrap: wrap;
    padding: 1.5rem;
  }
  @media only screen and (max-width: $mobileSmall) {
    flex-direction: column;
    row-gap: 1.5rem;
  }
  // .header__logo
  &__logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    img {
      height: 5rem;
    }
  }
  // .header__title

  &__title {
  }
}
.search {
  background-color: rgba(#fff, 0.8);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: all 0.3s;
  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba($color-text-1, 0.1);
  }
  @media only screen and (max-width: $mobile) {
    order: 3;
    flex: 1 1 auto;
    margin: 0;
    justify-content: space-between;
  }
  @media only screen and (max-width: $mobileSmall) {
    flex-direction: column;
    padding-left: 0;
  }
  // .search__input

  &__input {
    border: none;
    background: none;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;
    @media only screen and (max-width: $tablet) {
      width: 25rem;
    }
    @media only screen and (max-width: $mobileSmall) {
      padding: 1.5rem 0.5rem;
    }
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-text-2;
    }
  }

  // .search__button

  &__button {
    font-weight: 600;
    @media only screen and (max-width: $mobileSmall) {
      align-self: stretch;
      margin: 0.5rem;
      justify-content: center;
    }
  }

  // .search__icon

  &__icon {
  }
}
.actions {
  display: flex;
  @media only screen and (max-width: $mobileSmall) {
    align-self: flex-end;
    order: 3;
  }

  // .actions__list

  &__list {
    list-style: none;
    display: flex;
    align-items: stretch;
  }

  // .actions__item

  &__item {
    position: relative;
  }

  // .actions__button

  &__button {
    height: 100%;
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 1.5rem;
    transition: all 0.3s;

    display: flex;
    align-items: center;

    svg {
      height: 2.4rem;
      width: 2.4rem;
      fill: $color-primary;
      margin-right: 0.7rem;
      transform: translateY(-1px);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: rgba($color-primary, 0.8);
      color: #fff;
      svg {
        fill: #fff;
      }
    }
  }

  // .actions__icon

  &__icon {
  }
}
.favourites {
  position: absolute;

  right: -1rem;
  z-index: 10;
  width: 40rem;
  max-height: 33.55rem;
  overflow-y: auto;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  background-color: rgba(#fff, 0.4);
  box-shadow: $box-shadow-basic;
  padding: 1.5rem 1rem;
  // visibility: hidden;
  // opacity: 0;
  transition: all 0.5s 0.2s;
  // .favourites__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
}
