.sidebar {
  flex: 0 0 33.33%;
  background-color: $background-2;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $mobile) {
    flex: 0 1 auto;
    padding: 0.3rem;
  }
  // .sidebar__list
  &__list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    overflow-y: auto;
    @media only screen and (max-width: $mobile) {
      flex-direction: row;
      column-gap: 0.3rem;
    }
  }
  // .sidebar__pagination
  &__pagination {
    flex: 0 0 4rem;
  }
}
// .pagination
.pagination {
  padding: 1rem 0 0 0;
  &__body {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: $mobileSmall) {
      //       justify-content: center;
    }
  }
  // .pagination__arrow
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 2rem;
      width: 2rem;
      fill: $color-text-heading-1;
    }
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  // .pagination__numbers
  &__numbers {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
  }
  // .pagination__number
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    color: $color-text-heading-1;
    @media (any-hover: hover) {
      &:hover {
        border: 0.3rem solid $color-text-heading-1;
      }
    }
    &.active {
      background-color: $color-primary;
      background-image: linear-gradient(
        to right bottom,
        $color-text-heading-1,
        $color-primary
      );
      color: #fff;
    }
  }
}
